.zero-nav-overlay {
  display: block !important;
}

.zero-nav-menu {
  float: left !important;
  top: 0 !important;
  width: 100%;
}

.margin-left-zero {
  margin-left: 0 !important;
}

.zero-dropdown-list {
  background-color: var(--secondary-color) !important;
}